

body {
    background-color: #F5D0A9;
    margin: 0;
    padding: 0;
}

.node {
    stroke-width: 1.5px;
}

.link {
    stroke: #5858FA;
    stroke-opacity: 0.1;
}

text {
    
    font-family: 'Fugaz One', cursive;
    font-size: 65px;
    font-weight: 700;
    color: #000;
    cursor: default;
}

a svg {
    stroke: transparent;
}
