

body {
    background-color: #DE7A42;
    background-image: url(https://images.unsplash.com/photo-1436262513933-a0b06755c784?fit=crop&fm=jpg&h=800&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1450);
    margin: 0;
    padding: 0;
}

.node {
    stroke-width: 1.5px;
}

.link {
    stroke: #5858FA;
    stroke-opacity: 0.1;
}

text {
    
    font-family: 'Fugaz One', cursive;
    font-size: 65px;
    font-weight: 700;
    color: #000;
    cursor: default;
}

a svg {
    stroke: transparent; 
    pointer-events: bounding-box;
 }

a svg:hover {
    fill: #7E7E7E;
    filter: hue-rotate(220deg) saturate(5);
}